! xscreensaver ---------------------------------------------------------------

!font settings
xscreensaver.Dialog.headingFont:        -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-fixed-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #101010
xscreensaver.Dialog.background:         #D8D8D8
xscreensaver.Dialog.topShadowColor:     #D8D8D8
xscreensaver.Dialog.bottomShadowColor:  #D8D8D8
xscreensaver.Dialog.Button.foreground:  #101010
xscreensaver.Dialog.Button.background:  #E5E5E5
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #101010
xscreensaver.Dialog.text.background:    #E5E5E5
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #101010
xscreensaver.passwd.thermometer.background:  #2E2E2E
xscreensaver.passwd.thermometer.width:       8

URxvt*title:              urxvt
URxvt*termName:           rxvt-256color
!URxvt.background:       #e5e5f7
!URxvt.foreground:  		  #252627
URxvt*secondaryscroll:    true
URxvt*matcher.button:     1
URxvt*cursorBlink:        true
!URxvt*cursorUnderline:    true
!URxvt*highlightColor:     #666666
!URxvt*highlightTextColor: #CCCCCC
URxvt*cursorColor:        #9999CC
!URxvt*pointerColor:       #99CCFF
!URxvt*pointerColor2:      #000000
!URxvt*colorBD:            #CCCCCC
!URxvt*colorUL:            #FFCC99
!URxvt*underlineColor:     #6666CC
URxvt*mapAlert:           true
URxvt*visualBell:         true
URxvt*urgentOnBell:       true
!URxvt*inheritPixmap:     true
!URxvt*tintColor:         #000000
!URxvt*shading:           88

URxvt*transparent: false
URxvt*shading: 100
URxvt*saveLines: 12000
URxvt*font: xft:terminus:pixelsize=9
URxvt*boldfont: xft:terminus:pixelsize=9
URxvt.cursorBlink: True
URxvt*scrollBar: false
URxvt*internalBorder: 4
URxvt*externalBorder: 0
URxvt*geometry: 83x20

URxvt.perl-lib: /usr/lib/urxvt/perl
URxvt.perl-ext-common: default,matcher,clipboard,selection-autotransform, keyboard-select
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.keysym.C-c: perl:clipboard:copy
URxvt.keysym.Cv: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button:   1

! condensed
*background: #ededf7
*foreground: #252627
! black
*color0: #666666
*color8: #666666
! red
*color1: #59918a
*color9: #6ea39d
! green
*color2: #c284a5
*color10:#e8a3c5
! yellow
*color3: #8a8cab
*color11:#acadcf
! blue
*color4: #616278
*color12:#81829b
! magenta
*color5: #8e6179
*color13:#b57f9a
! cyan
*color6: #3a5f5a
*color14:#4c716d 
! white
*color7: #707880
*color15: #C5C8C6
