! xscreensaver ---------------------------------------------------------------

!font settings
xscreensaver.Dialog.headingFont:        -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-fixed-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #101010
xscreensaver.Dialog.background:         #D8D8D8
xscreensaver.Dialog.topShadowColor:     #D8D8D8
xscreensaver.Dialog.bottomShadowColor:  #D8D8D8
xscreensaver.Dialog.Button.foreground:  #101010
xscreensaver.Dialog.Button.background:  #E5E5E5
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #101010
xscreensaver.Dialog.text.background:    #E5E5E5
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #101010
xscreensaver.passwd.thermometer.background:  #2E2E2E
xscreensaver.passwd.thermometer.width:       8

URxvt*title:              urxvt
URxvt*termName:           rxvt-256color
URxvt.background: 		  #252627
URxvt.foreground:  		  #dcccbb
URxvt*secondaryscroll:    true
URxvt*matcher.button:     1
URxvt*cursorBlink:        true
URxvt*cursorUnderline:    true
URxvt*highlightColor:     #666666
URxvt*highlightTextColor: #FFFFFF
URxvt*cursorColor:        #999999
URxvt*pointerColor:       #99CCFF
URxvt*pointerColor2:      #000000
URxvt*colorBD:            #FFFFFF
URxvt*colorUL:            #FFCC99
URxvt*underlineColor:     #6666CC
URxvt*mapAlert:           true
URxvt*visualBell:         true
URxvt*urgentOnBell:       true
!URxvt*inheritPixmap:     true
!URxvt*tintColor:         #000000
!URxvt*shading:           88

URxvt*transparent: false
URxvt*shading: 20
URxvt*saveLines: 12000
URxvt*font: xft:terminus:pixelsize=9
URxvt*boldfont: xft:terminus:pixelsize=9
URxvt.cursorBlink: True
URxvt*scrollBar: false
URxvt*foreground: #DCCBBB
URxvt*background: #252627
URxvt*internalBorder: 4
URxvt*externalBorder: 0
URxvt*geometry: 90x21

URxvt.perl-lib: /usr/lib/urxvt/perl
URxvt.perl-ext-common: default,matcher,clipboard,selection-autotransform
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button:   1

!BLACK
URxvt*color0:               #666666
URxvt*color8:               #999999
!RED
URxvt*color1:               #CC9999
URxvt*color9:               #FFCCCC
!GREEN
URxvt*color2:               #99CC99
URxvt*color10:              #CCFFCC
!YELLOW
URxvt*color3:               #CCCC99
URxvt*color11:              #FFFFCC
!BLUE
URxvt*color4:               #9999CC
URxvt*color12:              #CCCCFF
!MAGENTA
URxvt*color5:               #CC99CC
URxvt*color13:              #FFCCFF
!CYAN
URxvt*color6:               #468385
URxvt*color14:              #7eb2b1
!WHITE
URxvt*color7:               #CCCCCC
URxvt*color15:              #FFFFFF
